{% extends "layout.html" %}
{% block content %}
<!-- greetings -->
<main class="background row">
  <div class="row container p-4">
    <div class="col-md-4">
      <h1>Welcome to <span>Pharmakart</span></h1>
      <h4>Your one stop store to health services</h4>
      <p>We offer a wide range 
        of services to our customers. We are always 
        available to serve you.Pharmakart is a one 
        stop store for all your health needs. We 
        offer a wide range of products to our 
        customers.We are always available to serve you.</p>
      </p>
    </div>
    <div class="col-md-7 order-menu">
      
    </div>
    
  <!-- Cart Box -->
<div class="col-md-1 py-1 px-1">
  </div>

<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title" id="cartModalLabel">Your Cart</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul id="cart-items">
          <!-- Cart items will be displayed here -->
      </ul>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer"><hr>
        <p>Total: $<span id="cart-total">0.00</span></p>
        <!-- <button onclick="clearCart()" class="btn btn-danger">Clear Cart</button> -->
        <a class="btn btn-primary" href="{{ url_for('payment') }}">Checkout</a>
        <!-- <button type="button" onclick="checkout()"class="btn btn-success">Checkout</button> -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  
</div>
<div class="row">
  <div class="col-md-3 order-menu p-4">
    <h2>SERVICE MENU</h2>
    <div class="btn-group" role="group" aria-label="Basic example">
  <a class="btn btn-primary" href="{{ url_for('pharmacist') }}">Pharmacist</a>
  <button type="button" class="btn btn-primary">Refill Medications</button>
  <a class="btn btn-primary" href="{{ url_for('dropshipping') }}">Drop-shipping</a>
</div>
    <!-- <select class="form-select" aria-label="Default select example">
      <option selected>Select Services</option>
      <option value="1"><a class="nav-link" href="{{ url_for('pharmacist') }}"></a>Consult A Pharmacist</option>
      <option value="2" id="medicationSelect">Refill Medications</option>
      <option value="3">Way-bill Services</option>
    </select>
      <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button" id="submitButton">SUBMIT</button>
    </div> -->
  </div>
  <div class="col-md-8">
    
  </div>
  <div class="col-md-1">
    
</div>
</div>
</main> 

<!--drugs section starts-->
<section class="meds" id="meds">
 
  <h1 class="heading">Medications Shopping Pool</h1>
  
  <div class="box-container">
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/vitaminC.jpg" alt="vitaminC" width="300px "> 
          <h3>Vitamain C</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product1', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/vitaminE.jpg" alt="vitaminE" width="300px "> 
          <h3>vitamin E</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product2', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/megaCal.jpg" alt="megaCal" width="300px "> 
          <h3>Mega Calcium</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product3', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/Astymin.jpeg" alt="Astymin" width="300px "> 
          <h3>Astymin</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product4', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/eveningPrimeRose.jpeg" alt="eveningPrimeRose" width="300px "> 
          <h3>eveningPrimeRose</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product5', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/Ginseng.jpeg" alt="Ginseng" width="300px "> 
          <h3>Ginseng</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product6', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
      <div class="cart">
          
      </div>
  
  </div>
  
  </section>
  
  
  
  <!--dishes section ends-->
  


{% endblock content %}