{% extends "layout.html" %}
{% block content %}

<main class="background">
  <div class="row container py-4 px-4">
    <div class="col-md-6">
      <h1>Welcome to <span>Pharmakart</span></h1>
      <p>Your one stop store to health services</p>
    </div>

 
</div>
<div class="row container py-4 px-4">
  <div class="col-md-4 order-menu">
    <h2>ORDER MENU</h2>
    <select class="form-select" aria-label="Default select example">
      <option selected>Select Services</option>
      <option value="1">Consult A Pharmacist</option>
      <option value="2">Refill Medications</option>
      <option value="3">Way-bill Services</option>
    </select>

    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button">SUBMIT</button>
    </div>
    <div class="cartItems">
      <h2>Shopping Cart</h2>
          <ul id="cart-items">
              <!-- Cart items will be displayed here -->
          </ul>
          <p>Total: $<span id="cart-total">0.00</span></p>

    </div>

  </div>
</div>
</main> 

<!--drugs section starts-->
<section class="meds" id="meds">
 
  <h1 class="heading">Medications Shopping Pool</h1>
  
  <div class="box-container">
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/vitaminC.jpg" alt="vitaminC" width="300px "> 
          <h3>Vitamain C</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product1', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/vitaminE.jpg" alt="vitaminE" width="300px "> 
          <h3>vitamin E</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product2', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/megaCal.jpg" alt="megaCal" width="300px "> 
          <h3>Mega Calcium</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product3', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/Astymin.jpeg" alt="Astymin" width="300px "> 
          <h3>Astymin</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product4', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/eveningPrimeRose.jpeg" alt="eveningPrimeRose" width="300px "> 
          <h3>eveningPrimeRose</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product5', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
  
      <div class="box">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-eye"></a>
          <img src="../static/img/Ginseng.jpeg" alt="Ginseng" width="300px "> 
          <h3>Ginseng</h3>
          <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
          </div>
          <span>$15.99</span>
          <button onclick="addToCart('product6', 15.99)"><a href="#" class="btn">add to cart</a></button>
      </div>
      <div class="cart">
          
      </div>
  
  </div>
  
  </section>
  
  
  
  <!--dishes section ends-->
  


{% endblock content %}