{% extends 'base.html' %}

{% block content %}
  <!-- ======= About Section ======= -->
  <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <h3>Find Out More <span>About Us</span></h3>
          <p>Pharmakart is an online medicare. it implores all routes to get health</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="static/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Pharmakart</h3>
            <p class="fst-italic">
              For your health and Medication refills, Pharmakart is there to help those gaps in the healthcare system. No More 
              room for inaccessibility when it comes to healthcare services. We've help bring healthcare to your homes.
            </p>
            <ul>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>
                  <h5>Heathcare Services</h5>
                  <p>Health consultations & Pharmacy Services</p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  <h5>Way-Bill Services</h5>
                  <p>Be rest assured of having your orders delivered to you at your residence.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
  </section><!-- End About Section -->
{% endblock %}
