{%extends "base.html"%}


{%block content%}
<div class="about-container">
  <img src="../static/img/about-pharm.jpg" alt="" class="about-image">
  <div class="about-content">
    <h2>About Us</h2>
    <p></p>
  </div>
</div>

<section class="about">
  
  <div class="card">
      <div class="card-content">
        <h3>Refill Medication's</h3>
        <p>Refill Medications on the go for your continuing therapy.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <h3>Pharmacist's Consult</h3>
        <p>Got a question for the Pharmacist regarding your health or Medication use? consulting a pharmacist is easier with Pharmakart.</p>
        <a href="#" class="button">Read More</a>
         
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <h3>Way-bill Services</h3>
        <p>Ofcourse, everyone loves a hassle free shopping. Have your Medications and other items directly sent to your homes through our drop-shipping services</p>
      </div>
    </div>
    
 
  
</section>
{%endblock%}