{%extends "layout.html"%}


{%block content%}
<section id="banner">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="../static/img/about-pharm.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 speech">
      <p class="promo-title">ABOUT US</p>
      <p>Pharamakart ensures universal health coverage fulfilling one of the 
        fundamental goals United Nations has for all humans. It promotes health
        for all individuals through the provision of quality health services and 
        products.
      </p>
      <p> For your health and Medication refills, Pharmakart is there to help those
         gaps in the healthcare system. No More room for inaccessibility when it comes
          to healthcare services. We've help bring healthcare to your homes.</p>
          <p>
            Pharmakart is a one stop store for all your health needs. We provide 
            quality health services and products to our customers. We are a team of 
            dedicated pharmacists and health professionals who are committed to 
            providing quality health services to our customers.
          </p>
          <p>
            We are a team of dedicated pharmacists and health professionals who are 
            committed to providing quality health services to our customers.
          </p>
    </div>
  
  </div>
</div>
</section>

<section class="about-cards">
  <div class="row">
    <div class=" card col-md-4">
      <h3><i class="fa fa-stethoscope" aria-hidden="true"></i>Pharmacist's Consult</h3>
      <p>Got a question for the Pharmacist regarding your health or Medication use? consulting a pharmacist is easier with Pharmakart.</p>
    </div>
    <div class=" card col-md-3">
      <h3><i class="fa fa-heartbeat" aria-hidden="true"></i>Refill Medication's</h3>
      <p>Refill Medications on the go for your continuing therapy.</p>
    </div>
    <div class=" card col-md-4">
      <h3><i class="fa fa-ambulance" aria-hidden="true"></i>Way-bill Services</h3>
        <p>Ofcourse, everyone loves a hassle free shopping. Have your Medications and other items directly sent to your homes through our drop-shipping services.</p>
    </div>
    
  </div>
</section>
{%endblock%}