{% extends "layout.html" %}
{% block content %}
<div class="card-group mb-4 g-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Refill Medications</h5>
      <p class="card-text">Refill Medications on the go for your continuing therapy.</p>

    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Consult a Pharamcist</h5>
      <p class="card-text">Got a question for the Pharmacist regarding your health?</p>
      <a href="{{ url_for('about') }}" class="card-link">Read More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Way-bill Services</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
      <p class="card-text">Ofcourse, everyone loves a hassle free shopping.</p>
    </div>
  </div>
</div>
{% endblock content %}