{%extends "base.html"%}


{%block content%}
<section class="container">
  <h1>Welcome to <span>Pharmakat</span></h1>
  <p>Your one stop store to health services</p>
  <div class="order">
  </div>
</section>
<section class="about">
 <div class="card">
   <div class="card-content">
     <h3>Refill Medication's</h3>
     <p>Refill Medications on the go for your continuing therapy.</p>
   </div>
 </div>
 <div class="card">
   <div class="card-content">
     <h3>Pharmacist's Consult</h3>
     <p>Got a question for the Pharmacist regarding your health </p>
     <a href="/about" class="button">Read More</a>
      
   </div>
 </div>
 <div class="card">
   <div class="card-content">
     <h3>Way-bill Services</h3>
     <p>Ofcourse, everyone loves a hassle free shopping.</p>
   </div>
 </div>
 
</section>
{%endblock%}