{% extends 'base.html' %}

{% block content %}
    
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>Pharmakart</span></h1>
      <h2>Your One Stop Base To Health Services</h2>
      <div class="d-flex align-items-center">
        <a href="/about" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-4 col-xs-12">
  
      <form action="" method="GET" class="form-main">

      <div class="col-md-10 col-sm-10 col-xs-18">
          <label class="sr-only" for="search"><strong>Search</strong></label>
          <div class="input-group">
              <input type="text" class="form-control input-search" name="q" id="search" placeholder="Search Consult">
              <span class="input-group-addon group-icon"><span class="glyphicon glyphicon-user"></span>
          </div>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-12">
          <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span><span class="hidden-sm hidden-xs"> Search </span>
          </button>
      </div>

  </div>      

</div>
</div>
  </section><!-- End Hero -->

{% endblock %}