{% extends "layout.html" %}
{% block content %}
<section class="container-contact">
    <div class="row">
        <div class="col-md-6 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31715.142461856667!2d3.264981527445325!3d6.471825977865275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b88c58ab93f09%3A0xba794b2a62413ee2!2sFestac%20Town%20102102%2C%20Lagos!5e0!3m2!1sen!2sng!4v1693815952843!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-4 center">
            <h3>CONTACT US</h3>
        
                <p><i class="fa fa-map-marker"></i>76, Festac town, Lagos, Nigeria</p>
                <p><i class="fa fa-phone" ></i>+234-556-7677-666</p>
                <p><i class="fa fa-envelope"></i>admin@pharmakart.com</p>
        </div>
    </div>
</section>
{% endblock content %}